---
name: action_test_random

'on':
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '31 6 * * *'


permissions:
  contents: read

env:
  INPUT_STR: "Hello, World! (with random target language)"
  OUTPUT_FILE: "some_file.txt"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run action
        id: run_action
        uses: ./
        with:
          inputStr: ${{ env.INPUT_STR }}
          outputFile: ${{ env.OUTPUT_FILE }}

      - name: Show targetLanguage
        run: |
          echo "${{ steps.run_action.outputs.targetLanguage }}"

      - name: Show output code
        run: |
          cat "${{ env.OUTPUT_FILE }}"
...
