---
name: action_test_python

'on':
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '41 6 * * *'

permissions:
  contents: read

env:
  INPUT_STR: "Hello, World! (with python3)"
  TARGET_LANGUAGE: python3
  OUTPUT_FILE: "out.py"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Run action
        id: run_action
        uses: ./
        with:
          targetLanguage: ${{ env.TARGET_LANGUAGE }}
          inputStr: ${{ env.INPUT_STR }}
          outputFile: ${{ env.OUTPUT_FILE }}

      - name: Check targetLanguage
        run: |
          test "${{ steps.run_action.outputs.targetLanguage }}" == "${{ env.TARGET_LANGUAGE }}"

      - name: Check output code
        run: |
          test "$(python3 ${{ env.OUTPUT_FILE }})" == "${{ env.INPUT_STR }}"
...
